@{
	ViewData["Title"] = "Lista Clientes";
}

<div class="text-center">
	<h1>Lista de Clientes</h1>
    <button role="button" class="btn btn-primary">Inserir</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nomes</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>mark@email.com</td>
                <td>(11)9876-5432</td>
                <td>
                    <div class="btn-group" role="group">
                        <button role="button" class="btn btn-primary">Atualizar</button>
                        <button role="button" class="btn btn-danger">Apagar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Jacob</td>
                <td>jacob@email.com</td>
                <td>(11)9876-5432</td>
                <td>
                    <div class="btn-group" role="group">
                        <button role="button" class="btn btn-primary">Atualizar</button>
                        <button role="button" class="btn btn-danger">Apagar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Larry</td>
                <td>larry@email.com</td>
                <td>(11)9876-5432</td>
                <td>
                    <div class="btn-group" role="group">
                        <button role="button" class="btn btn-primary">Atualizar</button>
                        <button role="button" class="btn btn-danger">Apagar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>